# Version with RPi without GUI (kiosk mode)
#
# sudo systemctl daemon-reload
# sudo systemctl enable rpi_motion_console.service
# sudo systemctl start rpi_motion_console.service
# sudo systemctl status rpi_motion_console.service

[Unit]
Description=Harald: Play on motion kiosk
After=multi-user.target
#After=systemd-user-sessions.service getty@tty1.service


[Service]
Type=simple
User=harald
# ExecStartPre=/bin/sleep 10
WorkingDirectory=/home/harald/code/rpi_motion
ExecStart=/home/harald/code/rpi_motion/env/bin/python -u /home/harald/code/rpi_motion/src/rpi_motion/play_on_motion_console.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
#TTYPath=/dev/tty1
#StandardInput=tty
Environment="SDL_VIDEODRIVER=fbcon"
Environment="SDL_FBDEV=/dev/fb0"

[Install]
WantedBy=multi-user.target
